.cardTopper{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
    top: 20rem;
    border: 5px solid black;
    width: 82rem;
    border-radius: 5rem;
    box-shadow: 2px 2px 5px black;
    align-items: center;
    padding: 1rem;
  }
  
  .photo img{
  height: 25rem;
  width: auto;


  }


  .desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .desc h4{
    font-size: 4rem;
    font-weight: 700;

  }

  .desc .rank{
    font-size: 2rem;
    font-weight: 600;
  }

  .desc .per{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 400;
  }

  .marksSub{
    display: flex;
    margin: 0;
    padding:0;
  }

  .marksSub .marks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }


  .container2 .cardTopper{
    display: flex;
    flex-direction: row-reverse;
  }

  .bg{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }



  /* +++++++++++++++++++++++++++++++++++++++++++++
   */
.FirstOne{
    width: 100%;
    display: flex;
    justify-content: center;
}
   .FirstOne>h4{
    position: absolute;
    top: 20rem;
    width: 70rem;
    font-size: 2.1rem;
    text-align: center;
    color: #284686;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
   }