* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navBarColor: linear-gradient(
    45deg,
    #ffffff 0%,
    #e5312c 60%,
    #284686 100%,
    #ffffff
  );

  --downnavBarColor: linear-gradient(-45deg, #e5312c 50%, #284686 100%);

  /* --navBarColorPhone : linear-gradient(5deg ,#E5312C 50%,#284686 100%,); */
  --geniusName: linear-gradient(65.5deg, #31a9a9 0%, #4e8f8f 100%);
  --exploreTaglineColor: linear-gradient(
    65.5deg,
    #ffffff 0%,
    #53e6e6 25%,
    #31a9a9 75%,
    #4e8f8f 100%
  );
  --geniusBlue: #284686;
  --blueOur: #5A88E5;
  --geniusRed: #e5312c;
  --geniusGray: rgba(217, 210, 210, 0.531);
  --NumberBg: rgba(65.5deg,#53e6e6 0%,
  #53e6e6 25%,
  #31a9a9 75%,
  #4e8f8f 100%)
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ===========================
   Reusable CSS
=========================== */
.btn {
  background: var(--geniusBlue);
  width: 20rem;
  height: 4rem;
  display: flex;
  gap: 1rem;
  font-weight: 800;
}

p {
  max-width: 65rem;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  padding: 2rem;
}

/* ===========================
    NavBar
=========================== */
.navbarSpan {
  /* position: fixed; */
}
header {
  height: auto;
  display: flex;
  top: 0;
  background: var(--navBarColor);
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  z-index: 5;
}

/* header{
  position: fixed;
  margin: 0;
  
} */

/* .navC{
  position: fixed;
} */

.logo img {
  height: 10rem;
  margin: 1rem;
}

.navbarContent {
  font-size: 1.8rem;
}

.navbarContent a {
  color: #ffffff;
  margin: 0 2rem;
  transition: 0.3s linear;
  margin-top: 5rem;
}

.navbarContent a:hover {
  color: #ffffff;
  font-size: 2rem;
}

span p {
  color: #ffffff;
  font-size: 2.5rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  text-align: center;
  margin-bottom: 0;
}
.contact {
  display: flex;
  gap: 2rem;
  margin-left: 1rem;
  padding: 0;
}
span a {
  text-decoration: none;
  color: orange;
  font-size: 1.7rem;
  font-weight: 500;
  justify-content: center;
  margin-bottom: 0;
}

span a:hover {
  color: #ffffff;
}

.email a,
.call a {
  color: #ffffff;
}

.email a,
.call a:hover {
  margin: 0;
  color: orange;
}

/* ======================================
          NAVBAR MEDIA QUERY
====================================== */

@media screen and (max-width: 569px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .logo img {
    height: 5rem;
    margin: 1rem;
  }

  .navbarContent a {
    margin-left: 40px;
    /* align-items: center; */
    font-size: 2rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-family: 'Ubuntu', sans-serif;
  }

  .navbarContent a:hover {
    font-size: 3.5rem;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  span a {
    font-size: 1rem;
    color: black;
    margin-right: 3rem;
  }
  span p {
    color: white;
    font-size: 3rem;
    font-family: 'Ubuntu';
    margin-right: 3rem;
  }

  .email .mail,
  .call .phone {
    justify-content: start;
    color: blueviolet;
    font-weight: 600;
    font-size: 2rem;
  }
}

/* ===========================
        NAVBAR TABLET 
=========================== */

@media screen and (min-width: 569px) and (max-width: 1330px) {
}

/* ===========================
        Hero
=========================== */

#Home {
  /* position: relative;
  top: 20rem; */
  margin-top: 15rem;
  margin-bottom: 10rem;
}

.heroGA .tagline {
  color: var(--geniusRed);
  font-size: 2.5rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  margin-left: 15%;
}

.exploreTagline {
  font-size: 4rem;
  font-family: sans-serif;
  font-weight: 700;
  color: black;
  background: var(--downnavBarColor);
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
}

.sec-text {
  background: var(--geniusName);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 5rem;
  font-family: sans-serif;
  font-weight: 700;
  position: relative;
}

.sec-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  width: 100%;
  border-left: 0.9rem solid #e5312c;
  animation: heroNames 4s steps(12) infinite;
}

@keyframes heroNames {
  40%,
  60% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}

#btnb {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border: 2px solid whitesmoke;
}

.btnn {
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  border: 1px solid whitesmoke;
  /* box-shadow: 5px 5px 5px; */
}

.BE {
  display: flex;
  flex-direction: column;
}

.btn-1 {
  background: var(--blueOur);
  color: white;
 
  /* box-shadow: 5px 5px 5px black; */
}

.btn-2 {
  background: var(--blueOur);
  color: white;
  
}

#exploreTagline {
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: 500;
  /* position: relative;
  bottom: 20rem; */
}

.hero{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.heroImg img {
  height: 60rem;
  width: auto;

}

/* ======================================
          Hero MEDIA QUERY
====================================== */

@media screen and (max-width: 569px) {
  .heroImg img{
    /* display: none; */
  }
  .exploreTagline {
    font-size: 3rem;
  }

  .sec-text {
   font-size: 3.5rem
  }
#btnb{
  display: flex;
  justify-content: start;
  flex-direction: row;
}
  .btnn{
    
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    
    font-weight: 500;
    /* box-shadow: 5px 5px 5px; */
  }

  .hero{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  }

  .heroImg img{
    width: 40rem;
    height: auto;
  }

}

@media screen and (min-width: 569px) and (max-width: 1330px) {
  .heroTrophy .trophy {
    display: none;
  }

  .heroGA span > img {
    width: 40rem;
  }

  .heroGA .tagline {
    margin: 0.2rem;
    /* max-width:a ; */
    font-size: 2rem;
    font-weight: 800;
  }
}

/* ===========================
       ABOUTUS
=========================== */

.aboutusContainer {
  width: 100%;
  background-color: var(--geniusGray);
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutusImg img {
  width: 50rem;
  border-radius: 3rem;
  /* box-shadow: 10px 10px 8px var(--geniusBlue); */
  margin-left: 15%;
  transition: 0.4s ease;
}

.aboutusImg img:hover {
  width: 51rem;
}

.aboutus h2 {
  margin: 1rem;
  color: var(--geniusBlue);
  font-size: 5rem;
  font-family: "Shrikhand", serif;
  font-weight: 400;
}

.aboutus span {
  color: var(--geniusRed);
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  margin-left: 10%;
}

.formore {
  background-color:rgb(168, 93, 237) ;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 2rem;
  transition: 0.2s ease;
}

.formore h4 {
  color: #ffffff;
  font-size: 2rem;
}

/* ======================================
          AboutUs MEDIA QUERY
====================================== */

@media screen and (max-width: 569px) {
  .aboutusImg img {
    width: 30rem;
    margin: 0.5rem;

  }
  .aboutusImg img:hover {
    width: 31rem;
  }

  .aboutus h2 {
    margin-top: 3rem;
  }
  .aboutus span {
    margin: 0rem;

    font-size: 1.41rem;
    font-weight: 800;
  }

  .aboutus p {
    margin: 0;
    max-width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .formore h4 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 569px) and (max-width: 1330px) {
  .aboutusImg img {
    width: 45rem;
    margin: 0;
  }
  .aboutusImg img:hover {
    width: 31rem;
  }

  .aboutusContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* ===========================
        Down Nav for small Devices
=========================== */
.downNavContainer {
  display: none;
}
@media screen and (max-width: 569px) {
  .downNavContainer {
    margin-top: 2rem;
    background: var(--downnavBarColor);
    width: 90%;
    height: 6rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    /* gap: 11%; */
    position: fixed;
    top: 88%;
  }

  .downNavElement {
    /* border: 2px solid black; */
    height: 8rem;
    width: 8rem;
    border-radius: 3rem;
    padding-left: 2.5rem;
    padding-top: 1.5rem;
    font-size: 3rem;
    color: white;
    transition: 0.5s ease-in;
  }

  .downNavElement:active,
  .downNavElement:hover {
    background: var(--exploreTaglineColor);
    padding-bottom: 2rem;
  }
}

/* ======================================
          Numbers
====================================== */

.numbers {
  top: 20rem;
  display: flex;
  justify-content: space-evenly;
  gap: 30%;
  background: var(--geniusBlue);
  /* background-color: blueviolet; */
  height: 25rem;
  align-items: center;
}

.Number {
  font-size: 5rem;
  font-weight: 700;
  /* background-color: white; 
  -webkit-background-clip: text;
  color: transparent; */
  color: white;
}

.dataName {
  color: white;
  font-size: 3rem;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.numberGrp {
  display: flex;
}

.plus {
  padding: 0px 10px;
  /* margin: 0; */
  font-size: 5rem;
  /* background: var(--downnavBarColor);
  -webkit-background-clip: text; */
  color: white;
  font-weight: 900;
}

/* ======================================
         Numbers MEDIA QUERY
====================================== */

@media screen and (max-width: 569px) {
  .numbers {
    gap: 1.5rem;
  }

  .Number {
    font-size: 3rem;
  }

  .dataName {
    font-size: 3rem;
  }

  .plus {
    font-size: 3rem;
  }
}
/* ======================================
          Teachers
====================================== */

.Teacher {
  background: var(--geniusGray);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.teachersImg {
  margin-top: 10rem;
  padding: 0;
  /* margin-left: 20rem; */
  align-items: center;
  height: 40rem;
  box-shadow: 2px 2px 15px 5px black;
}

.containerTeachers {
  /* margin-left: 22rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.teachersLine {
  display: flex;
  gap: 1rem;
  margin-left: 32%;
}
.teachersLine h3 {
  background: var(--geniusName);
  -webkit-background-clip: text;
  font-size: 8rem;
  font-family: sans-serif;
  font-weight: 700;
  color: transparent;
}
.linerow {
  display: flex;
  flex-direction: column;
}
.linerow span {
  background: var(--downnavBarColor);
  -webkit-background-clip: text;
  font-size: 3rem;
  font-family: sans-serif;
  font-weight: 700;
  color: transparent;
}

.teachers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ======================================
          Teachers MEDIA QUERY
====================================== */

@media screen and (max-width: 569px) {
  .teachersImg {
    width: 35em;
    height: auto;
  }

  .containerTeachers {
    /* margin-left: 2%; */
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .teachersLine {
    margin-left: 0%;
    justify-content: center;
    align-items: center;
  }

  .teachersLine h3 {
    font-size: 3rem;
  }
  .linerow span {
    font-size: 2rem;
  }

  .teachers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 569px) and (max-width: 1330px) {
  .teachersImg {
    width: 55rem;
    height: auto;
  }

  .containerTeachers {
    /* margin-left: 2%; */
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .teachersLine {
    margin-left: 0%;
    justify-content: center;
    align-items: center;
  }

  .teachersLine h3 {
    font-size: 5rem;
  }
  .linerow span {
    font-size: 3rem;
  }

  .teachers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* ======================================
         Cources
====================================== */

.card {
  position: relative;
  width: 20rem;
  height: 1rem;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
  height: 300px;
  width: 200px;
  /* fill: #333; */
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card-content {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card-content {
  transform: rotateX(0deg);
}

.card-title {
  margin: 0;
  font-size: 24px;
  color: var(--geniusBlue);
  font-weight: 700;
  /* opacity: 50%; */
}

.card:hover svg {
  scale: 0;
}

.card-description {
  margin: 10px 0 0;
  font-size: 14px;
  color: var(--geniusBlue);
  opacity: 50%;
  line-height: 1.4;
}
.pointer{
  font-size: 2rem;
}

.top{
  display: flex;
  flex-direction: row;
  gap: 20rem;
  justify-content: center;
}

.bottom{
  display: flex;
  flex-direction: row;
  gap: 20rem;
  justify-content: center;
  margin-bottom: 7rem;

}

.courseDetails{
  display: flex;
  gap: 10rem;
  flex-direction: column;
}

.courseTitle h3{
  color: white;
  font-size: 5rem;
  font-weight: 800;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  padding: 7rem;

}

.cources{
  background: var(--geniusBlue);
  /* opacity: 50%; */

}

/* ======================================
          Cources MEDIA QUERY
====================================== */

@media screen and (max-width: 569px) {
  .courseTitle h3 {
    font-size: 3.5rem;
    margin-bottom: 0;
  }

  .card {
    height: 20rem;
    width: 20rem;
  }

  .courseDetails,
  .top,
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

@media screen and (min-width: 569px) and (max-width: 1330px) {
  .courseTitle h3 {
    font-size: 5rem;
    margin-bottom: 0;
  }

  .card {
    height: 40rem;
    width: 40rem;
  }

  .courseDetails,
  .top,
  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}




/* ======================================
          Take a Tour
====================================== */

.tourContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tourHeading h3{
  /* color: var(--exploreTaglineColor); */
  font-size: 5rem;
  font-weight: 800;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 4rem 0; */
  padding: 7rem;
  background: var(--geniusRed);
  -webkit-background-clip: text;
  color: transparent;

}

.photosGallery{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.photo img{
  width: 30rem;
}


/* ======================================
          Take a Tour Media Query
====================================== */

@media screen and (max-width: 569px) {
  .tourHeading h3 {
    font-size: 3.5rem;
    margin-bottom: 0;
  }

  .photosGallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #p1,#p2,#p3,#p4,#p5,#p6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

}










/* ======================================
         Footer
====================================== */
footer{
  /* background: var(--navBarColor); */
  background-color: #353232;
  padding-top: 5rem;
  margin-top: 20rem;
  margin-bottom: 0px;
  padding: 20px;
}

.logoFooter h3{
  color: white;
  font-family: 'Roboto Slab', serif;
  font-size: 4rem
  
}

.first{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logoFooter > img{
  position: relative;
  right: 7rem;
  width: auto;
  height: 8rem;
  filter: drop-shadow(0 0 1.89rem rgb(255, 255, 255));
}

.follow i{
  color: white;
  font-size: 2.8rem;
}

.follow{
  display: flex;
  gap: 15px;


}

.dataFooter{
  display: flex;
  flex-direction: row;
  gap: 2.5rem;

}
.second{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  /* flex-direction: row; */
  margin: 50px 200px ;
  gap: 10rem;
}

.Footer1 a{
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  color: white;
  font-size: 2rem;

}

.Footer1 h4{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;

}

.Footer1{
  display: flex;
  flex-direction: column;

}

.branch img{
  width: 50rem;
  height: auto;
  text-align: end;
  left: 20rem;
  justify-content: end;
  align-self: center;
  position: relative;
  left: 11rem;
  margin-bottom: 0px;
}

footer h3{
  color: white;
  
}

/* ======================================
          Tablet UI MEDIA QUERY
====================================== */
@media screen and (min-width: 569px) and (max-width: 1330px) {
  /* ======================================
          NAVBAR MEDIA QUERY
====================================== */
}
